*{
	margin:0;
	padding: 0;
	

}

nav{
	background-color: #ccc;
	height: 70px;
	border-bottom: 1px solid #BEBEBE;
	box-shadow: 0px 2px 15px   #BEBEBE;
	padding-left: 8px;
	display: flex;
}

.logo{
	width: 60px;
	height: 60px;
	padding-top: 1px;
}

.arrow{
	display: flex;
	justify-content: space-between;
}

.card{
	border: 2px solid black;
	margin: 5%;
	width: 33%;
	height: 40%;
	text-align: center;
	font-family: 'Source Code Pro', monospace;

}

h1{
	font-size: 18px;
	font-family: 'Bellefair', serif;
	margin-left: 20px;
	color: white;
	padding-top: 20px;
	letter-spacing: 8px;

}

section h2{
	padding-bottom: 60px;
	font-size: 30px;
	font-family: 'Source Code Pro';
	text-align: center;
	color: #FFC0CB;
	padding-bottom: 20px;
}

section{
	display: flex;
	justify-content: center;
	flex-direction: column;

}

iframe{
	margin-top: 20px;
	margin-left: 25%;
}
.img-card{
	width: 100%;
}

@media (max-width: 750px){
	.arrow{
		display: block;

	}
	.card{
		display: block;
		width: 40%;
	}
	h2{
		margin-left: 20px;
		margin-top: 20px;
		font-family: 'tahoma';
		color: #ccc;
		font-size: 28px;
	}
}